@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format(variable font);
    src: url(./Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format(iralic variable font);
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Thin.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Thin.ttf) format(truetype);
    font-weight: 100;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Light.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Light.ttf) format(truetype);
    font-weight: 300;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Regular.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Regular.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-SemiBold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-SemiBold.ttf) format(truetype);
    font-weight: 600;
}
/* @font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Bold.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Bold.ttf) format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Black.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Black.ttf) format(truetype);
    font-weight: 900;
}

Italic Fonts

@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-ThinItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-ThinItalic.ttf) format(truetype);
    font-weight: 100;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-LightItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-LightItalic.ttf) format(truetype);
    font-weight: 300;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-Italic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-Italic.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-SemiBoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-SemiBoldItalic.ttf) format(truetype);
    font-weight: 600;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-BoldItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-BoldItalic.ttf) format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: "Fraunces";
    src: url(./Fraunces/static/Fraunces_9pt/Fraunces_9pt-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt/Fraunces_72pt-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt/Fraunces_144pt-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_Soft/Fraunces_9pt_Soft-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_Soft/Fraunces_72pt_Soft-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_Soft/Fraunces_144pt_Soft-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_9pt_SuperSoft/Fraunces_9pt_SuperSoft-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_72pt_SuperSoft/Fraunces_72pt_SuperSoft-BlackItalic.ttf) format(truetype);
    src: url(./Fraunces/static/Fraunces_144pt_SuperSoft/Fraunces_144pt_SuperSoft-BlackItalic.ttf) format(truetype);
    font-weight: 900;
}*/